<?xml version='1.0' encoding='utf-8'?>
<widget id="A6017011806252" version="0.0.1">
    <name>viarotel</name>
    <description>
 		Example For vue-APICloud-cli
 	</description>
    <author email="viarotel@qq.com" href="https://github.com/viarotel">
 		viarotel
 	</author>
    <content src="./index.html" />
    <access origin="*" />
    <!-- userAgent中添加APICloud标识 -->
    <preference name="userAgent" value="APICloud" />
    <preference name="urlScheme" value="qingshanscheme" />
    <preference name="pageBounce" value="false" />
    <preference name="appBackground" value="rgba(255,255,255,1)" />
    <preference name="windowBackground" value="rgba(255,255,255,1)" />
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)" />
    <preference name="hScrollBarEnabled" value="false" />
    <preference name="vScrollBarEnabled" value="false" />
    <preference name="autoLaunch" value="true" />
    <preference name="fullScreen" value="false" />
    <preference name="autoUpdate" value="true" />
    <preference name="smartUpdate" value="false" />
    <preference name="debug" value="false" />
    <preference name="statusBarAppearance" value="true" />
    <preference name="softInputMode" value="resize" />
    <preference name="appCertificateVerify" value="false" />
    <preference name="useWKWebView" value="true" />
    <preference name="forbiddenSchemes" value="*" />
    <permission name="readPhoneState" />
    <permission name="camera" />
    <permission name="record" />
    <permission name="location" />
    <permission name="fileSystem" />
    <permission name="internet" />
    <permission name="bootCompleted" />
    <permission name="hardware" />
    <preference name="querySchemes" value="weixin,wechat,mqq,mqqapi,alipay,alipays,tmall,tbopen,taobao,pinduoduo,openapp.jdmobile,jdpostLogin,mqq,mqqap,weibo,sinaweibo,baidumap,iosamap,meituan,meituanwaimai,imeituan,eleme" />
</widget>
