$body-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-root: 14px;

// $data-table-regular-header-height: 70px;
$data-table-regular-header-font-size: 1rem;
$data-table-regular-row-height: 5rem;
$label-font-size: 1rem;
