@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  font-size: 14px;
  @apply overflow-x-hidden;
}

svg {
  @apply inline-block align-baseline;
}

button:focus {
  @apply outline-none;
}

/* 横向滚动 */
.overflow_y_scroll {
  @apply overflow-y-scroll scrolling-touch static;
}

/* 纵向滚动 */
.overflow_x_scroll {
  @apply overflow-x-scroll scrolling-touch static;
}

/* 安全区 */
:root {
  --env-safe-area-inset-top: env(safe-area-inset-top);
  --env-safe-area-inset-bottom: env(safe-area-inset-bottom);
  --constant-safe-area-inset-top: constant(safe-area-inset-top);
  --constant-safe-area-inset-bottom: constant(safe-area-inset-bottom);
}

.border_t_safe {
  border-top: 25px solid transparent;
}
@supports (
  (border: env(safe-area-inset-top)) or (border: constant(safe-area-inset-top))
) {
  .border_t_safe {
    border-top: max(
        var(--env-safe-area-inset-top, var(--constant-safe-area-inset-top)),
        25px
      )
      solid transparent;
  }
}

.border_b_safe {
  border-bottom: var(
      --env-safe-area-inset-bottom,
      var(--constant-safe-area-inset-bottom)
    )
    solid transparent;
}

/*宽高等比*/
.WH_const::before {
  content: "";
  padding-top: 100%;
  float: left;
}
.WH_const::after {
  content: "";
  display: block;
  clear: both;
}

/* 隐藏滚动条 */
.scrollbar_none::-webkit-scrollbar {
  display: none;
}
/* 文字渐变 */
.bg_clip_text {
  -webkit-background-clip: text;
}

/*高斯模糊*/
.backdrop_filter_blur_5 {
  backdrop-filter: blur(5px);
}

/*vue 渲染完成后显示*/
[v-cloak] {
  display: none !important;
}
